@import '../../scss/mixins.scss';

.pagenotfound {
    min-height: 700px;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    img {
        width: 100%;
        height: 100%;
    }

    @include lg {
        img {
            width: 55%;
            height: 50%;
        }
    }

    @include xl {
        img {
            width: 45%;
            height: 50%;
        }
    }
}